/* frontend/src/assets/main.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f4f6fa; /* ពណ៌ Background ដូចគ្នាទៅនឹង App.vue របស់យើង */
}

#app {
  width: 100%;
  min-height: 100vh;
  display: block; /* បិទ Flexbox ដើមរបស់ Vite */
}

* {
  box-sizing: border-box;
}
